[Unit]
Description=TopHN
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/github/tophn
ExecStart=/opt/venv/tophn/bin/python3 tophn.py
Restart=always
RestartSec=5

# WorkingDirectory is set because tophn.py reads config.ini from the
# current directory.

[Install]
WantedBy=multi-user.target
