/* Center main section horizontally and vertically. */
main {
    display: flex;
    height: 90%;
    padding: 0 1em;
}

section {
    margin: auto;
}


/* Top story */
#story a:link, #story a:visited {
    color: #333333;
    text-decoration: none;
}

#story a:hover, #story a:active {
    color: #000000;
    text-decoration: underline;
}

#story {
    font-size: xx-large;
    line-height: 1.5em;
}

#domain {
    font-size: x-small;
    text-align: right;
}

#domain, #domain a {
    color: #808080;
}

#links {
    text-align: center;
}

#links a {
    font-size: small;
}
