<!DOCTYPE html>
<html>
<head>
    <title>About - TopHN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<main id="about">

<h1>About TopHN</h1>
<p>
<a href="./">TopHN</a> is a website that aims to
recommend exactly one story from
<a href="https://news.ycombinator.com/">Hacker News</a> to you.
</p>
<p>
Say you have got only enough time in a day to read just one story from Hacker
News. What is that story going to be? This website tries to answer that
question for you.
</p>
<p>
The top story on Hacker News is sampled every minute. The story that
occurred most frequently in these samples in the last 24 hours is
recommended to you.
</p>
<p>
What if you missed the top story yesterday, or the day before yesterday,
or the one last weekend? We have got that covered on
<a href="archive.html">the archive page</a>.
</p>
<p>
This is a free and open source website. The source code of this website
is available on <a href="https://github.com/sunainapai/tophn">GitHub</a>
under the terms of the MIT License.
</p>
<p>
Hope you like this website and visit it on your busy days.
</p>

</main>

<footer>
<nav>
    <a href="./">Home</a>
    <a href="archive.html">Archive</a>
    <a href="https://github.com/sunainapai/tophn">GitHub</a>
    <a href="about.html">About</a>
</nav>
</footer>

</body>
</html>
